management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

spring:
  application:
    name: springboot-admin-client
  boot:
    admin:
      client:
        url: http://localhost:8081
server:
  port: 8082